<!-- ISA launch file -->

<launch>
 	<!-- Running the vision_node -->
	<node 
		pkg = "isa_project" type="vision_node" name ="vision_node" output="screen">
 	</node>

	<!-- Running the decision_node -->
	 <node 
		pkg = "isa_project" type="decision_node" name ="decision_node" output="screen">
 	</node>

	<!-- Running the simulation frobit_v2_demo -->
	
	<node 
		pkg = "frobit_v2_demo" type="frobit_sim_wpt_nav" name ="frobit_sim_wpt_nav" output="screen">
 	</node>
	


	<!-- Running the real frobit_v2_demo -->
	
	<!--
	<node 
		pkg = "frobit_v2_demo" type="frobit_run_wpt_nav" name ="frobit_run_wpt_nav" output="screen">
 	</node>
	-->
	
	<!--	 
	<node 
		pkg = "isa_project" type="listener_node" name ="listener_node" output="screen">
 	</node>
	-->
	
</launch>

